html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
body {
    color: white;
}
.container-fluid {
    padding: 0;
}
.side-menu-bar{
    background-color: black;
    height:90vh;
}
.side-menu-bar a {
    color: white;
}
.dashboard {
    background-color: #15273D;
}
.dashboard img {
    width: 100%;;
}
.footer-player audio{
    width:100%;
}
.fa {
    margin-right: 10px;
}
.side-menu-bar ul, button {
    width: 100%;
}
.footer-stick {
    position: absolute;
    bottom: 0;
    width: 100%;
}