body {
    background-color: black;
    color: white;
}
.container-fluid {
    padding: 0;
}
.side-menu-bar{    
    height:90vh;
}
a {
    color: white;
    cursor: pointer;
}
.dashboard {
    background-color: #15273D;
}
.dashboard img {
    width: 100%;;
}
.footer-player audio{
    width:100%;
}
.fa {
    margin-right: 10px;
}
.side-menu-bar ul, .side-menu-bar button {
    width: 100%;
}


.footer-stick {
    position: absolute;
    bottom: 0;
    width: 100%;
}